@import url(variables.css);

/* main settings */
body {
    background-color: #151515;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: var(--primary-color);
}
.modal {
    color: black;
}
.list-group li:hover {
    cursor: pointer;
}
#goTopButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 2em;
    border: 2px solid black;
    cursor: pointer;
}
hr {
    border-top: 1px solid var(--color-dark-green);
}
/* end of main settings */

/* customize some bootstrap classes */
.modal li.active {
    background-color: var(--primary-color)!important;
    border: none;
}
.btn-primary {
    background-color: var(--primary-color)!important;
    border: none;
}
.table-green-borders > thead > tr > th {
    border: 1px solid var(--primary-color);
}
.table-green-borders > tbody > tr > td {
    border: 1px solid var(--primary-color);
}
/* end of bootstrap classes customization */


/* Games page ############################################################ */

/* result game */
.result-game {
    border: 2px solid var(--color-dark-green);
    background-color: #202020;
    padding: 20px;
    margin: 10px 0;
}
.result-game h3 {
    color: var(--primary-color);
}
.result-game img {
    border: 2px solid var(--color-dark-green);
    padding: 2px;
    border-radius: 15px 0 15px 0;
}
.result-game p {
    color: var(--primary-color);
    font-weight: bold;
}
.result-game p span {
    color: white;
    font-weight: normal;
}

/* result template 2 */
.card {
    float: left!important;
    min-width: 350px;
    margin: 30px 0;
}
/* end of result game */